@import components.{generate_quiz, load_quiz}
@import helper._
@import models.GenerateQuiz

@(
  codeForm: Form[String], loadQuizUrl: Call,
  generateForm: Form[GenerateQuiz], generateQuizUrl: Call,
  validQuizCodes: Seq[String], validQuizOptions: ValidQuizOptions
)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main {
  <div id="quiz-init">
    @load_quiz(codeForm, loadQuizUrl, validQuizCodes)
    @generate_quiz(generateForm, generateQuizUrl, validQuizOptions)
  </div>
}

