@import components.{quiz_area, leaderboard => lboard}
@import helper._
@import models.SubmitAnswers

@(submitAnswersForm: Form[SubmitAnswers], code: String = "", questions: Seq[Question] = Seq(), leaderboard: Leaderboard = Leaderboard(), submitAnswersUrl: Call)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main {
  <div class="container">
    @form(action = CSRF(submitAnswersUrl)) {
      @quiz_area(submitAnswersForm, code, questions)
      @inputText(
        field = submitAnswersForm("name"),
        'placeholder -> "Name"
      )
      <input type="submit" value="Submit Answers">
    }
    @lboard(leaderboard)
  </div>
}
